Package: com.maxkatzmann.folderswipe
Name: FolderSwipe
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Open folders Velox-Style!
Maintainer: Max Katzmann
Author: Max Katzmann
Section: Tweaks
